<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_1</string>
		<key>menuTitle</key>
		<string>MENSAJES</string>
		<key>index</key>
		<integer>0</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_2</string>
		<key>menuTitle</key>
		<string>COMUNICADOS</string>
		<key>index</key>
		<integer>1</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_3</string>
		<key>menuTitle</key>
		<string>RESERVACIONES</string>
		<key>index</key>
		<integer>2</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_4</string>
		<key>menuTitle</key>
		<string>MARKETPLACE</string>
		<key>index</key>
		<integer>3</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_5</string>
		<key>menuTitle</key>
		<string>INVITADOS</string>
		<key>index</key>
		<integer>4</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_6</string>
		<key>menuTitle</key>
		<string>SOLICITUDES</string>
		<key>index</key>
		<integer>5</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>New item</key>
		<dict>
			<key>day</key>
			<string>Miercoles</string>
			<key>date</key>
			<string>15 de Agosto</string>
			<key>verCalendario</key>
			<string>VER EN CALENDARIO</string>
			<key>menuImage</key>
			<string>menu_icon_7</string>
			<key>menuTitle</key>
			<string>PAGOS</string>
			<key>index</key>
			<integer>6</integer>
			<key>section</key>
			<string>section1</string>
		</dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_7</string>
		<key>menuTitle</key>
		<string>PAGOS</string>
		<key>index</key>
		<integer>6</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>New item</key>
		<dict>
			<key>day</key>
			<string>Miercoles</string>
			<key>date</key>
			<string>15 de Agosto</string>
			<key>verCalendario</key>
			<string>VER EN CALENDARIO</string>
			<key>menuImage</key>
			<string>menu_icon_7</string>
			<key>menuTitle</key>
			<string>PAGOS</string>
			<key>index</key>
			<integer>6</integer>
			<key>section</key>
			<string>section1</string>
		</dict>
		<key>day</key>
		<string>Miercoles</string>
		<key>date</key>
		<string>15 de Agosto</string>
		<key>verCalendario</key>
		<string>VER EN CALENDARIO</string>
		<key>menuImage</key>
		<string>menu_icon_8</string>
		<key>menuTitle</key>
		<string>DIRECTORIO</string>
		<key>index</key>
		<integer>7</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
</array>
</plist>
