<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>HOME</string>
		<key>iconImage</key>
		<string>menu_icon_0</string>
		<key>index</key>
		<integer>0</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENSAJES</string>
		<key>iconImage</key>
		<string>menu_icon_1</string>
		<key>index</key>
		<integer>1</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>COMUNICADOS</string>
		<key>iconImage</key>
		<string>menu_icon_2</string>
		<key>index</key>
		<integer>2</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RESERVACIONES</string>
		<key>iconImage</key>
		<string>menu_icon_3</string>
		<key>index</key>
		<integer>3</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MARKETPLACE</string>
		<key>iconImage</key>
		<string>menu_icon_4</string>
		<key>index</key>
		<integer>4</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INVITADOS</string>
		<key>iconImage</key>
		<string>menu_icon_5</string>
		<key>index</key>
		<integer>5</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SOLICITUDES</string>
		<key>iconImage</key>
		<string>menu_icon_6</string>
		<key>index</key>
		<integer>6</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PAGOS</string>
		<key>iconImage</key>
		<string>menu_icon_7</string>
		<key>index</key>
		<integer>7</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DIRECTORIO</string>
		<key>iconImage</key>
		<string>menu_icon_8</string>
		<key>index</key>
		<integer>8</integer>
		<key>section</key>
		<string>section1</string>
	</dict>
</array>
</plist>
